.listCard{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    padding: 12px 15px;


    & img{
        width: 50px;
    }

    &__last{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 750px){
    .listCard{
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid lightgray;
        border-radius: 20px;

        & div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            & img{
                width: 100%;
                border-radius: 20px;
            }
        }
    }
}