.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4%;


    & .logo{
        width: max(10%, 80px);
    }

    & .profile{
        width: 70px;
    }
}