.dispFood{
    margin-top: 30px;

    & h2{
        font-size: max(2vw, 24px);
        font-weight: 600;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin-top: 30px;
        gap: 30px;
        row-gap: 50px;
    }
}
@media(max-width: 1280px){
    .dispFood{
        &__list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            margin-top: 30px;
            gap: 30px;
            row-gap: 50px;
        }
    }
}
@media(max-width: 1180px){
    .dispFood{
        &__list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
            margin-top: 30px;
            gap: 20px;
            row-gap: 30px;
        }
    }
}
@media(max-width: 540px){
    .dispFood{
        &__list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            margin-top: 30px;
            gap: 20px;
            row-gap: 30px;
        }
    }
}
@media(max-width: 855px){
    .dispFood{
        &__list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            margin-top: 30px;
            gap: 20px;
            row-gap: 30px;
        }
    }
}
