.header{
    height: 34vw;
    margin: 30px auto;
    background: url('https://i.imghippo.com/files/DOYvw1722879307.png') no-repeat;
    background-size: contain;
    position: relative;

    &__contents{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5vw;
        max-width: 50%;
        bottom: 10%;
        left: 6vw;
        animation: fadeIn 3s;

        & h2{
            font-weight: 500;
            color: #fff;
            font-size: max(3.5vw, 22px);
        }

        & p{
            color: #fff;
            font-size: 1vw;
        }

        & a{
            border: none;
            color: #747474;
            font-weight: 500;
            padding: 1vw 2.3vw;
            font-size: max(1vw, 13px);
            background-color: #fff;
            border-radius: 50px;
        }
    }
}
@media (max-width: 1050px) {
    .header{
        height: 38vw;

        &__contents{
            max-width: 65%;
            padding: 10px 0;

            & h2{
                font-size: 40px;
            }

            & p{
                font-size: 18px;
            }

            & a{
                padding: 10px 25px;
                font-size: 18px;
            }
        }
    }
    
}
@media (max-width: 450px) {
    .header{
        height: 38vw;

        &__contents{
            max-width: 65%;
            padding: 10px 0;

            & h2{
                font-size: 20px;
            }

            & p{
               display: none;
            }

            & a{
                padding: 8px 15px;
                font-size: 12px;
            }
        }
    }
    
}
